body {
    display: flex;
    width: 99%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-image: url("Images/background.jpg");
    background-position: -100%;
    color: white;
    font-family: "Noto Sans";
}
#fond_onglet{
    background-image: url("Images/epée_z.jpg");
}


form {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    color: white;
}

#inscription {
    text-align: center;
    line-height: 30px;

}

#connection {

    text-align: center;
    line-height: 30px;

}
#onglet{
    text-align: center;
    line-height: 60px;
font-size: xx-large;
}

#liens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#titre{
    flex-direction: column;
    justify-content: flex-start;
}

#play{
    left: 20px;
}